page-esassurvey {

    ion-item {
        border-bottom: none;
    }

     ion-list-header {
        font-size: 4em;
        display: block;
        margin:0 auto; 
        text-align: center;
        margin-top: -2px;

     }

     ion-title {
         background-color:  periwinkle
     }
     
}